
.login {
    font-family: "verdana";
    margin: 20px auto;
    width: 400px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.form-title {
    text-align: center;
    color: #777;
}

.dodaj_izgubljeno_title{
    color: #f4511e;
}

.dodaj_nadjeno_title{
    color: #3498DB;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 20px;
}

.form_label{
    padding-top: 15px;
    font-family: "verdana";
    font-weight: bold;
    font-size: 14px;
}

.login-field {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

.login-field:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 40px auto;
}

.btn:hover {
  background-color: #2980B9;
}

.btn_reg{
    background: #d61919;
}

.btn_reg:hover{
    background-color: #ad1313;
}

.btn_dodaj_izgubljeno{
    background: #f4511e;
}

.btn_dodaj_izgubljeno:hover{
     background-color: #c14119;
}

.select_forma{
    text-align-last: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

.error_message{
    color: red;
    font-family: "verdana";
    font-size: 14px;
}

